{% extends 'layout_home.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3 nav-home">
                <h1>Shotgun!</h1>
                <a href="{% url 'drive.views.rides_index' %}"><span class="glyphicon glyphicon-search"></span> Find a Ride</a>
                <a href="{% url 'drive.views.rides_new' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add a Ride</a>                
            </div>            
        </div>


    {% else %}

        <section id="section-home">
            <h1>Shotgun!</h1>
            <h4>Need a ride? Find a ride. Post a ride.</h4>
        </section>

    {% endif %}

{% endblock %}