{% extends 'base.html' %}

{% block body %}

    <div class="header row" style="margin: 0px">

        <div class="col-xs-10 col-sm-6 col-md-4">
            <a href="{% url 'drive.views.home' %}">
                <img src="{{STATIC_URL}}img/shotgun-logo.png" alt="Shotgun Logo" class="img-responsive">
            </a>    
        </div>

    </div>

    {% block navbar %}{% include 'navbar.html' with active='find' %}{% endblock %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{{message.tags}}{% else %} alert-info{% endif %} alert-dismissable col-xs-12 col-sm-10 col-sm-offset-1">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                
                {% block content %}

                {% endblock %}   

            </div>
        </div>
    </div>

{% endblock %}


