{% extends 'base.html' %}

{% block body %}

    <div class="header">
        <div class="pull-right">    
            {% if user.is_authenticated %}
                <a href="{% url 'drive.views.drive_logout' %}" id="logout">Logout</a>
            {% endif %}
        </div>
        <h1><a href="{% url 'drive.views.home' %}">Shotgun!</a></h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{{message.tags}}{% else %} alert-info{% endif %} alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                {% block content %}

                {% endblock %}   

            </div>
        </div>
    </div>

{% endblock %}


