{% extends 'base.html' %}

{% block body %}

    <div class="container-fluid container-home">
        <div class="row">
            <div class="col-xs-12">
                {% include 'nav.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{{message.tags}}{% else %} alert-info{% endif %}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% block content %}

                {% endblock %}   
            </div>
        </div>
    </div>

{% endblock %}
