{% extends 'base.html' %}

{% block head %}
    <script>
        $(document).ready(function(){
            var egg = false;

            $("#easter-egg").click(function(){
                if(egg){
                    $(".container-home").css("background-image","url({{STATIC_URL}}img/road3.jpg)");
                    egg = false;
                } else {
                    $(".container-home").css("background-image","url({{STATIC_URL}}img/easter-bg.jpg)");
                    egg = true;
                }
            });
        });
    </script>
{% endblock %}

{% block body %}

    <div class="container-fluid container-home">

        <div class="row">
            <div class="col-xs-12">
                {% include 'nav.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% block content %}

                {% endblock %}   
            </div>
        </div>
    </div>

    <a id="easter-egg" href="#" style="position: fixed; top: 0; left:0">;)</a>
{% endblock %}
