<nav class="account">
    {% if user.is_authenticated %}
        <a href="{% url 'drive.views.drive_logout' %}" id="logout">Logout</a>
    {% else %}
        <a href="#" id="login">Login</a>
        <a href="#" id="signup">Signup</a>
    {% endif %}
    

    <div id="section-login">
        {% if loginForm.errors %}
            <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}

        <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
            {% csrf_token %}

            {% for field in loginForm %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

            <input type="submit" value="Login" />
            <input type="hidden" name="next" value="{% url 'home' %}" />
        </form>
    </div>

    <div id="section-register">
        <form action="{% url 'registration_register' %}" method="post">
            {% csrf_token %}
            {% for field in registrationForm %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Register" />
        </form>
    </div>  
</nav>