{% extends 'layout_header.html' %}

{% block content %}

    <section id="section-ride-new">
        <form action="" method="post" class="form-inline" role="form" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Search</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="address-from">From:</label><br>
                            {{form.fromInput}}
                            {{form.fromInput.errors}}

                            <label for="address-to">To:</label><br>
                            {{form.toInput}}
                            {{form.toInput.errors}}

                            <label for="id_leavingOn">Leaving On:</label><br>
                           {{form.leavingOn}}
                            {{form.leavingOn.errors}}

                            <span id="details-from">
                                {{form.fromLat}}
                                {{form.fromLng}}
                                {{form.fromFormatted}}
                                {{form.fromLocality}}
                            </span>

                            <span id="details-to">
                                {{form.toLat}}
                                {{form.toLng}}
                                {{form.toFormatted}}
                                {{form.toLocality}}
                            </span>

                            {% if page.object_list|length > 0 %}
                                <h3>Results</h3>

                                {% for result in page.object_list %}
                                    <p>
                                        <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                                    </p>
                                {% empty %}
                                    <p>No results found.</p>
                                {% endfor %}

                                {% if page.has_previous or page.has_next %}
                                    <div>
                                        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                                        |
                                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                                    </div>
                                {% endif %}
                            {% endif %}

                        </div>
                        <div class="col-md-6">
                            <div id="map"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
            </div>  
        </form>
    </section>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="{{ STATIC_URL }}js/jquery.geocomplete.min.js"></script>
    <script>

        $(document).ready(function(){
            $("#address-from").geocomplete({details: "#details-from", detailsAttribute: "data-geo", map: "#map"});
            $("#address-to").geocomplete({details: "#details-to", detailsAttribute: "data-geo", map: "#map"});
            $( "#id_leavingOn" ).datepicker();
        });
        
    </script>
{% endblock %}
