{% extends 'layout_header.html' %}

{% block head %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyArTylJf9gxDN3uns-Wrmnh9drOb9xmMFU&sensor=false&libraries=places,drawing"></script>
    <script src="{{ STATIC_URL }}js/jquery.geocomplete.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/shotgun.map.js"></script>
    <script>

        $(document).ready(function(){
            $("#address-from").geocomplete({details: "#details-from", detailsAttribute: "data-geo"});
            $("#address-to").geocomplete({details: "#details-to", detailsAttribute: "data-geo"});
            $( "#id_leavingOn" ).datepicker();

            $("#address-from")
                .geocomplete()
                .bind("geocode:result", function(event, result){

                    if(!$('#id_toLat').val()) {
                        drawMarker(result.geometry.location.lat(), result.geometry.location.lng());
                    } else {
                        drawRoute(result.geometry.location.lat(), result.geometry.location.lng(), $('#id_toLat').val(), $('#id_toLng').val());
                    }

                    $("#map-row").slideDown();
                    $("#results-row").fadeOut();
                }
            );

            $("#address-to")
                .geocomplete()
                .bind("geocode:result", function(event, result){

                    if(!$('#id_fromLat').val()) {
                        drawMarker(result.geometry.location.lat(), result.geometry.location.lng());
                    } else {
                        drawRoute($('#id_fromLat').val(), $('#id_fromLng').val(), result.geometry.location.lat(), result.geometry.location.lng());
                    }

                    $("#map-row").slideDown();
                    $("#results-row").fadeOut();
                }
            );

        });
        
    </script>

{% endblock %}

{% block content %}

    <section id="section-ride-search">

        {% if not query %}
        
        {% endif %}
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Find a Ride</h2>
                        </div>
                    </div>

                    <form action="" method="post" class="form-inline" role="form" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <label for="address-from">From:</label><br>
                                    {{form.fromInput}}
                                    {{form.fromInput.errors}}
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="address-to">To:</label><br>
                                    {{form.toInput}}
                                    {{form.toInput.errors}}                            
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="id_leavingOn">Leaving On:</label><br>
                                    {{form.leavingOn}}
                                    {{form.leavingOn.errors}}                            
                                </div>

                                <span id="details-from">
                                    {{form.fromLat}}
                                    {{form.fromLng}}
                                    {{form.fromFormatted}}
                                    {{form.fromLocality}}
                                </span>

                                <span id="details-to">
                                    {{form.toLat}}
                                    {{form.toLng}}
                                    {{form.toFormatted}}
                                    {{form.toLocality}}
                                </span>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="padding: 20px 15px 20px 15px">
                                <input type="submit" value="Search" class="btn btn-primary col-xs-12" />
                            </div>
                        </div>
                    </form>

                    <div class="row" id="map-row"{% if not fromLat and not toLat %} style="display: none"{% endif %}>
                        <div class="col-md-12">
                            <div id="map_canvas" class="map-ride-new col-md-12"></div>
                        </div>
                    </div>

                    <div class="row" id="results-row">
                        <div class="col-md-12">
                            {% for result in page.object_list %}
                                {% if result.object.id %}
                                    {% include 'rides/ride.html' with ride=result.object %} 
                                {% endif %}
                            {% empty %}
                                <p class="col-xs-12" style="text-align: center">No results found. Try another search?</p>
                            {% endfor %}

                            {% if page.has_previous or page.has_next %}
                                <div>
                                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                                    |
                                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>  

    </section>

    <script>
        {% if fromLat and toLat %}
            drawRoute({{fromLat}}, {{fromLng}}, {{toLat}}, {{toLng}});
        {% elif fromLat %}
            drawMarker({{fromLat}}, {{fromLng}});
        {% elif toLat %}
            drawMarker({{toLat}}, {{toLng}});
        {% endif %}
    </script>

{% endblock %}
