{% extends 'layout_header.html' %}

{% block content %}

    {# This is the list of rides #}
    <section id="section-ride-index">

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Find a Ride</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% include 'rides/ride.html' with ride=ride %}
                        {% if user.is_authenticated %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="mailto:{{ride.driver.user.email}}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-envelope"></span> Email this Driver</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="{% url 'home' %}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-envelope"></span> Log In to Email this Driver</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row visible-sm visible-xs"><div class="col-xs-12">&nbsp;</div></div>
                    <div class="col-md-6">
                        <div id="map_canvas" class="col-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArTylJf9gxDN3uns-Wrmnh9drOb9xmMFU&sensor=true"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/shotgun.map.js"></script>

    <script type="text/javascript">
        drawRoute({{ride.fromLocation.lat}}, {{ride.fromLocation.lng}}, {{ride.toLocation.lat}}, {{ride.toLocation.lng}});
    </script>
{% endblock %}