{% extends 'layout_header.html' %}

{% block content %}

    {# This is the list of rides #}
    <section id="section-ride-index">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Find a Ride</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% include 'rides/ride.html' with ride=ride %}
                    </div>
                    <div class="col-md-6">
                        <div id="map_canvas" class="map-results pull-right"></div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArTylJf9gxDN3uns-Wrmnh9drOb9xmMFU&sensor=true"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/shotgun.map.js"></script>

    <script type="text/javascript">
        drawRoute({{ride.fromLocation.lat}}, {{ride.fromLocation.lng}}, {{ride.toLocation.lat}}, {{ride.toLocation.lng}});
    </script>
{% endblock %}