{% extends 'base.html' %}

{% block content %}
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'drive.views.drive_logout' %}">Logout</a>
        {% else %}
            <a href="#">Login</a>
        {% endif %}
        <a href="#">Signup</a>
    </nav>

    <section id="section-home">
        <h1>Shotgun</h1>
        <p>Ipsum dolor sit amet</p>
        {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!</p>
        {% endif %}
    </section>

    <section id="section-login">
        {% if loginForm.errors %}
            <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}

        <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
            {% csrf_token %}

            {% for field in loginForm %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{% url 'home' %}" />
        </form>
    </section>

    <section id="section-register">
        <form action="{% url 'registration_register' %}" method="post">
            {% csrf_token %}
            {% for field in registrationForm %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <p><input type="submit" value="Register" /></p>
        </form>
    </section>

{% endblock %}