

html, body { height: 100%; }

.homeContent {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
}


body{
    background-image: url("../img/road3.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: contain;
        bottom: 0;
        -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    

}

a{
    color: #ddc84b;
    font-family: Archivo Black;
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 20px;
    padding-top: 10px;
    float: right;
}

h1{
    font-family: Bangla Sangam MN;
    font-size: 70px;
    color: #fff;
}

h4{
    font-family: Avenir;
    color: #ddc84b;
}
.container-fluid{
    position: relative;    
    
}

#section-home{
    position: fixed;
        bottom: 0;
        margin-bottom: 50px;
    
}
#section-login, #section-register{
    margin: 50px -165px 0px 0px;
}
.col-md-4, .col-md-offset-8{
    width: 280px;
    background-color: white;
    padding: 10px;
}

    label{
        font-family: Myriad Pro;
        font-size: 15px;
        color: #999999;
        font-weight: 100;
}

    input, button{
        width: 250px;
        margin: 5px;
}

