body, div, img, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt,
blockquote, fieldset, legend, label, input, textarea {
    margin: 0; padding: 0; border: 0;
}
sh1, h2, h3, h4, h5, h6, p {
    margin: 0 0 1em 0;
}
h1{font-size: 200%;}
h2{font-size: 170%;}
h3{font-size: 160%;}
h4{font-size: 140%;}
h5{font-size: 120%;}

html, body { height: 100%; }

.homeContent {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#mainBG { background: url("../img/road.jpg") no-repeat scroll;
	background-position:center;  
	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

@media only screen and (max-width: 1024px) and (orientation:landscape) { 
    #mainBG { background: url("../img/road.jpg") 50% 0 no-repeat scroll !important; 
	background-position:center;  
	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
} 
}
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	#mainBG { background: url("../img/road.jpg") 50% 80% no-repeat scroll !important;
	background-position:center;  
	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
} 
}
@media only screen and (min-width: 0px) and (max-width: 767px) { 
	#mainBG { 	background: url("../img/road.jpg") no-repeat scroll;
	background-position:center;  
	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
} 
}

body{
    background-image: url("../img/road.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: contain;
        bottom: 0;
        -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    

}

a{
    color: #ddc84b;
    font-family: Archivo Black;
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 20px;
    padding-top: 10px;
    float: right;
}

h1{
    font-family: Bangla Sangam MN;
    font-size: 70px;
    color: #fff;
}

h4{
    font-family: Avenir;
    color: #ddc84b;
}
.container-fluid{
    position: relative;    
    
}

#section-home{
    position: fixed;
        bottom: 0;
        margin-bottom: 50px;
    
}

#section-login{
    width: 280px;
    height: 180px;
    background-color: white;
    float: right;
    margin: 80px -220px 0px 0px;
    padding: 10px;

}

    label{
        font-family: Myriad Pro;
        font-size: 15px;
        color: #999999;
        font-weight: 100;
}

    input, button{
        width: 250px;
        margin: 5px;
}

#section-register{
    width: 280px;
   float: right;
    margin: 80px -220px 0px 100px;
    background-color: white;
    padding: 10px;
}
