

html, body { height: 100%; }

nav.account a {
    color: #ddc84b;
    font-family: Archivo Black;
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 20px;
    padding-top: 10px;
    float: right;
}

input {
    z-index: 1;
}

h1 {
    font-family: "Bangla Sangam MN";
    font-size: 70px;
    color: #fff;
}

h1>a {
    color: #fff;
    text-decoration: none;
}

h1>a:hover {
    color: #fff;
    text-decoration: none;
}

h2, h3, h4 {
    font-family: Avenir;
    color: #ddc84b;
}

nav.account input {
    width: 250px;
    margin-bottom: 15px;
}

nav.account input[type=submit] {
    margin-bottom: 5px;
}

.nav-home {
    text-align: center;
}

.nav-home>h1 {
    margin-top: 150px;
    margin-bottom: 30px;
    text-shadow:
    -1px -1px 0 #666666,  
    1px -1px 0 #666666,
    -1px 1px 0 #666666,
     1px 1px 0 #666666;
}

.nav-home>a {
    color: #ddc84b;
    font-family: Archivo Black;
    font-size: 21px;
    padding: 10px 20px;
    margin: 20px;
    background-color: #ffffff;
    border: 1px solid #999999;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-home>a:hover {
    color: #666666;
}

label {
    font-family: "Myriad Pro", Arial, "sans-serif";
    font-size: 15px;
    color: #999999;
    font-weight: 100;
    margin: 0px;
}


.container-fluid {
    position: relative;        
}

.container-home {
    background-image: url(../img/road3.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.header {
    background-image: url(../img/road-top.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.pull-right{
    margin: 0px 30px 0px 30px;
}


.container-home {
    height: 100%;
}

.errorlist {
    color: #ff0000;
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

#map_canvas {
    border: 1px solid #999999;
    min-height: 280px;
    margin-bottom: 20px;
}

.map-new {
    margin-top: 32px;
    height: 320px;
}

#section-home {
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
}

#section-login, #section-register {
    position: absolute;
    top: 50px;
    right: 35px;
    background-color: white;
    padding: 10px;
    width: 280px;
    border: 1px solid #999999;
    z-index: 1;
}

#section-ride-new label {
    margin-top: 15px;
}

#section-ride-search label {
    margin-top: 15px;
}

.ride{
    border-top: 1px solid #999999;
    padding-top: 20px;
}

.ride>h4{
    color: black;
    font-weight: bold;
    margin-top: -5px;
}

.ride>h3{
    margin-top: -5px;
}

.ride>p{
    margin-top: -5px;
    overflow: auto;
}


div.img img {
    height: 105px;
    width: 120px;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}

.btn-primary {
    background-color: #ddc84b;
    border-color: #ccb73a;
}

.ui-widget-header{
    background: #ddc84b;
    border: #ddc84b;
}
